.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.row-1 {
  position: static;
  display: block;
  transform: translate(250%, 60%);
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: thin;
  cursor: pointer;
}

.selected {
  border: 2px solid blue;
  border-style: solid;
  border-width: thin;
}

.btn{
  position: relative;
  display: block;
  transform: translate(982%, -2350%);
  margin: 4px 2px;
  background-color: #4C8BF5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.top-box{
  position: static;
  display: block;
  background-color:  #4C8BF5;
  color: white;
  width: 575px;
  padding: 25px;
  transform: translate(81%, -1750%);
}

.row-2 {
  position: static;
  display: block;
  transform: translate(354%, -255%);
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: thin;
  cursor: pointer;
}

.row-3 {
  position: relative;
  display: block;
  transform: translate(460%, -570%);
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: thin;
  cursor: pointer;
}

.subaru {
  height: 200px;
  width: 200px;
  transform: translate(80%, 10%);
}

.random-subaru{
  
  transform: translate(1%, 800%);
}


.test{
  overflow: hidden;
}

.pages-color{
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
